{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    DASHBOARD ADMIN
    {% endif %}
    <div id="map"><!--ICI CARTE MAPS--></div>


    <div class="form close">
        <form id="formulaire">
            <div>
                <label for="adress">N° et Nom de la voie :</label>
                <input type="text" id="name" name="user_name">
            </div>
            <div>
                <label for="cp">Code postal :</label>
                <input type="number" id="cp" name="codepostal">
            </div>
            <div>
                <label for="ville">ville :</label>
                <input type="text" id="ville" name="ville">
            </div>
            <div class="button">
                <button type="button" value="submit" onclick="getAdress;ima closeForm();">Envoyer l'adresse</button>
            </div>
            <div id="geolocMe">
                <button type="button" onclick="geolocMe()"> Me localiser</button>
            </div>
            <div class="cross"></div>
        </form>
    </div>
    <div class="maps-buttons">

            <button type="button" onclick="geolocMe()">Me localiser</button>


            <button type="button" class="search">Rechercher</button>

    </div>

    <ul id="list"></ul>
{% endblock %}